---
import Back from "../components/Back.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
<Back/>
<div class="wrapper">
  <nav role="navigation" aria-label="Pagination">
    <ul class="pagination">
      <li><a class="pagination__item btn" href="#">Previous</a></li>
      <li><a class="pagination__item" href="#" aria-current="true">1</a></li>
      <li><a class="pagination__item" href="#">2</a></li>
      <li><a class="pagination__item" href="#" class="current">3</a></li>
      <li><a class="pagination__item" href="#">4</a></li>
      <li><a class="pagination__item" href="#">5</a></li>
      <li><a class="pagination__item" href="#">6</a></li>
      <li><a class="pagination__item btn" href="#">Next</a></li>
    </ul>
  </nav>
</div>
<Layout/>

<style>
  .wrapper {
    container-type: inline-size;
    padding: 1em;
    resize: horizontal;
    overflow: auto;
    outline: solid 1px darkgrey;
    outline-offset: 3px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      display: block;
      padding: 10px 20px;
      background: lightgrey;
      color: #000;
      text-decoration: none;
      border-radius: 4px;
      transition: background 0.2s ease-out;
      text-align: center;

      &:hover,
      &:focus {
        background: #000;
        color: #fff;
      }
    }
  }

  a[aria-current="true"] {
    background: #000;
    color: #fff;
  }

  .current {
    background: #000;
    color: #fff;
  }

  .pagination {
    justify-content: space-between;
  }

  .pagination__item:not(.btn) {
    display: none;
  }

  .pagination li {
    display: block;
  }

  .pagination li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  @container (min-width: 250px) {
    .pagination {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .pagination li:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @container (min-width: 500px) {
    .pagination {
      justify-content: center;
    }

    .pagination__item:not(.btn) {
      display: block;
    }

    .pagination__item.btn {
      display: none;
    }
  }

  .note {
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
</style>
